<h1>Login</h1>
<% session_chance_count = 0 %>
<% form_for(@user, '/sessions/create') do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <a href="<%= url(:users, :forgot) %>">Forgot password</a>
  <br/>
  <% if @show_captcha %>
  <div class="g-recaptcha" data-sitekey="6LcuyXcUAAAAADpCAXDwXtdshzyziPvnNzqmKc74"></div>
  <% end %>
  <br/>
  <%= f.submit "Login", :id => 'loginButton', :class => "btn btn-primary" %>
<% end %>