Job Vacancy Board
=================

Hi <%= user.name %>:

We have received a request to reset your Job Vacancy password. Click on the following link to choose a new one:

Reset your password: https://sinergia-jobvacancy.herokuapp.com/users/edit/<%=user.token%>

You only have 10 minutes to restore your password, after this time you must request a new token.

If you have not made this request, ignore this message.

Greetings.
