<h1>Put your email if forgot password</h1>
<% session_chance_count = 0 %>
<% form_for(@user, '/users/generate_token') do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>
  <%= f.submit "Send", :id => 'sendButton', :class => "btn btn-primary" %>
<% end %>