<h1>Registration</h1>
<% form_for(@user, '/users/create') do |f| %> 
  <%= f.label :name %>
  <%= f.text_field :name, :class => "input-block-level" %>
  <%= f.label :email %>
  <%= f.text_field :email, :class => "input-block-level" %>
  <%= f.label :password %>
  <%= f.password_field :password, :class => "input-block-level" %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "input-block-level" %>
  <%= f.label "About you"%>
  <%= f.text_area :short_bio, :class => "input-block-level", :placeholder => "You can write about you...", :maxlength => 500, :rows => 8 %>
  <%= f.label :birthdate %>
  <%= f.date_field :birthdate, :class => "input-block-level" %>
  <br/>
  <%= f.submit "Create", :class => "btn btn-primary" %>
<% end %>