<h1>Restore password</h1>
<% form_for(@user, '/users/restore') do |f| %> 
  <%= f.label :name %>
  <%= f.text_field :name, :class => "input-block-level", :disabled => true %>
  <%= f.text_field :name, :class => "input-block-level", :type => "hidden" %>
  <%= f.label :email %>
  <%= f.text_field :email, :class => "input-block-level", :disabled => true %>
  <%= f.text_field :email, :class => "input-block-level", :type => "hidden" %>
  <%= f.label :password %>
  <%= f.password_field :password, :class => "input-block-level" %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "input-block-level" %>
  <br/>
  <%= f.submit "Restore", :class => "btn btn-primary" %>
<% end %>