  <%= f.label :title %>
  <%= f.text_field :title, :class => "input-block-level" %>
  <%= f.label :location %>
  <%= f.text_field :location, :class => "input-block-level" %>
  <%= f.label :description %>
  <%= f.text_area :description, :class => "input-block-level" %>
  <%= f.label :minimum_experience %>
  <%= f.number_field :minimum_experience, min:0, :class => "input-block-level" %>
  <%= f.label :remuneration %>
  <%= f.number_field :remuneration, min:1, max: 1000000, :class => "input-block-level" %>
  <%= f.label :labels %>
  <%= f.text_field :labels, :class => "input-block-level" %>
  <br/>
