<h1>Job Application</h1>

	
<p>Please enter your email address to receive the contact information for this offer.</p>
<% form_for(@job_application, "/job_offers/apply/#{@job_offer.id}") do |f| %>

  <%= f.label :applicant_email %>
  <%= f.text_field :applicant_email, :class => "input-block-level" %>
  <%= f.label "Do you have any question?"%>
  <%= f.text_area :offer_question, :class => "input-block-level", :placeholder => "You can write...", :maxlength => 500, :rows => 3 %>
  <div class="g-recaptcha" data-sitekey="6LcuyXcUAAAAADpCAXDwXtdshzyziPvnNzqmKc74"></div>
  <hr/>
  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>