<h1>Applications Job Offer</h1>
<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>
      <%= @job_offer.title %>
    </td>
    <td>
      <%= @job_offer.location %>
    </td>
    <td>
      <%= @job_offer.description %>
    </td>
  </tr>
</table>
<table class="table table-bordered">
  <% if job_applications.count > 0 %>
    <tr>
      <th>Email</th>
      <th>Shortbio</th>
      <th>Date</th>
      <th>Hour</th>
    </tr>
    <%job_applications.each do | job_application|%>
      <tr>
        <td>
          <%= job_application[:applicant_email] %>
        </td>
        <td>
          <%= get_short_bio(job_application) %>
        </td>
        <td>
          <%= job_application.date_application.strftime("%m/%d/%Y") %>
        </td>
        <td>
          <%= job_application.date_application.strftime("%I:%M %P") %>
        </td>
      </tr>
      <% end %>
    <% else %>
      <h1>The offer has no applications yet</h1>
    <% end %>
</table>