<% if OfferSuggester.last_suggest&.any?%>
	<% @offers = OfferSuggester.last_suggest[0..2]%>
	<% OfferSuggester.last_suggest = nil %>
	<div>These are some positions that migth also interes you: </div>
	<br/>
<% else %>
  <h1>Current Job Offers</h1>
  <div class="search-box">
	  <form method="POST" action="search" class="form-search">
		   <%= csrf_token_field %>
		  <input type="text" name="q" />
		  <input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	  </form>
  </div>
<% end %>
<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Minimum experience</th>
		<th>Remuneration</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td class="text-right">
			<% if offer.minimum_experience.nil? || offer.minimum_experience == 0 %>
			  <%= 'not specified' %>
			<% else %> 
				<%= offer.minimum_experience %>
			<% end %>
		</td>
		<td class="text-right">
			<% if offer.remuneration.nil? || offer.remuneration == 0 %>
			  <%= 'not specified' %>
			<% else %> 
				<%= offer.remuneration %>
			<% end %>
		</td>
    <td>
      <% if signed_in? %>
        <%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary"%>
      <% else %> 
        <%= link_to 'Apply', :class => "btn btn-primary", disabled: true %>
      <% end %>
    </td>
	</tr>

  <% end %>

</table>